* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.contact-section {
  width: 100%;
  height: 60vh;
 
  background: rgb(0, 0, 0);
  margin-top: -3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 0;
  width: 88%;
  height: 90%;
}

.contact-container .column {
  flex: 1;
  padding: 0 1.2rem;
  
  height: 100%;
}

.column h4 {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-left: 3.3rem;
  margin-top: 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #fffccc;
}

.column p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155.3%;
  /* or 25px */
  letter-spacing: 0.13em;
  text-transform: capitalize;
  margin: 1.5rem 0;
  color: #fffffc;
}

.social-icon i {
  height: 27px;
  width: 32px;
  background: #333539;
  color: #fffffc;
  font-size: 1.2rem;
  padding: 0.4em;
}

#other-links{
    margin-left: 4rem;
}

.column ul {
  width: 240px;
  height: 146px;
  margin: 1rem 0 1rem 4rem;
}

.column ul a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 168.8%;
  /* or 27px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}

.column h2 {
  margin-top: 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  text-transform: capitalize;

  color: #fffffc;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
  margin-top: 1.5rem;
}

.social i {
  margin: 0.4rem 0 0 0;
  font-size: 1.2rem;
  color: #a08040;
}

.details-container {
  display: flex;
  align-items: flex-start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-details p {
  margin: 0.8rem 0 0 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 155.3%;
  /* or 25px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}
