body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

header {
  width: 100%;
  height: 100vh;
  position: relative;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("assets/images/background.jpeg");
  background-position: center;
  background-size: cover;
}

nav {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(16, 20, 24, 0) 0%, #101418 100%);
}

.container-fluid {
  padding-top: 5rem;
}

.mobile-menu {
  display: none;
}

.navbar-container {
  background-color: rgb(0, 0, 0);

  margin: 0 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
}

.navbar-div1 {
  display: flex;
  align-items: center;
  margin-right: -2rem;
}

img {
  width: 50px;
}

.navlinks {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  margin-right: 2rem;
  list-style-type: none;
}

.navlinks li {
  margin: 0 1rem;
}

.navlinks li a {
  text-decoration: none;
  color: #ffffcc;
}

.book-now {
  display: block;
  text-align: center;
  width: 140px;
  height: 45px;
  line-height: 1.5rem;
  margin-right: -7.5rem;
  background-color: #a08040;
  text-decoration: none;
  color: #ffffcc;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}

.text-clr {
  color: #ffffcc;
}


::-webkit-scrollbar {
  display: none;
}

/* hero container css starts here */

.hero-container {
  height: 65vh;
  /* border: 2px solid red; */
  position: absolute;
  top: 20%;
  left: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 300px;
  height: 300px;
}
.hero-image img {
  width: 100%;
  height: 100%;
}

.hero-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
}

.hero-details h2 {
  color: #ffffcc;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.hero-details p {
  color: #ffff;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 2.5rem;
}

.read-more {
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid #fffccc;
  margin-top: 1rem;
}

/* about-us section css starts here */

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  /* border: 2px solid red; */
  background: url("assets/images/background2.jpeg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-section {
  width: 100%;
  height: 90vh;
  display: flex;
}

.about-us {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid green; */
  position: relative;
}

.about-us h2 {
  color: #ffce6d;
  position: absolute;
  top: 15%;
  left: 18%;
  font-family: "Dancing Script";
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 117.3%;
  /* or 42px */
  text-align: center;
  letter-spacing: 0.1rem;
}

.about-us h3 {
  position: absolute;
  color: #fff;
  top: 24%;
  left: 18%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 117.3%;
  /* identical to box height, or 59px */
  text-transform: capitalize;

  color: #fffffc;
}

.about-us p {
  color: #fff;
  width: 70%;
  text-align: justify;
  /* margin: -2rem 4rem; */

  position: absolute;
  left: 18%;
  top: 43%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 155.3%;
  /* or 22px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}

.about-us a {
  position: absolute;
  left: 18%;
  top: 85%;
}

.aboutus-img {
  height: 18rem;
  width: 15rem;
  /* border: 2px solid red; */
  position: absolute;
  left: 55%;
  top: 10%;
}

.aboutus-img img {
  height: 100%;
  width: 100%;
}

/*------------------------ services section css starts here ------------------------------------------- */

.services {
  margin-top: 3rem;
  background-color: #101418b2;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  color: white;
}

.services h3 {
  text-align: center;
  padding-top: 1.5rem;
  font-family: "Dancing Script";
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 117.3%;
  /* or 42px */
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffce6d;
}

.services p {
  text-align: center;
  padding-top: 0.5rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 117.3%;
  /* or 35px */
  text-transform: capitalize;

  color: #fffffc;
}

.card-container {
  /* border: 2px solid green; */
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.card-container .card {
  width: 25%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  background: rgba(160, 128, 64, 0.3);
  border: 1px dashed #ffce6d;
  margin-bottom: 3rem;
}

.card img {
  width: 60px;
  height: 60px;
}

.card h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 3rem;
  /* or 28px */
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #fffffc;
}

.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 155.3%;
  /* or 22px */
  text-align: justify;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  padding: 0 2rem;
  color: #fffffc;
}

/****************** menu section css starts from here**************************/

.menu-section {
  width: 85%;
  height: 100vh;
  /* border: 2px solid red; */
  color: white;
}

.menu-section h3 {
  margin-top: 1rem;
  text-align: center;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 117.3%;
  /* or 42px */
  /* letter-spacing: 0.1em; */

  color: #ffce6d;
}

.menu-section h4 {
  margin-top: 0.8rem;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 117.3%;
  /* or 35px */
  text-align: center;
  text-transform: capitalize;

  color: #fffffc;
}

.menu-list {
  width: 90%;
  height: 70vh;
  /* border: 2px solid green; */
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid blue; */
  width: 55%;
  height: 12vh;
  margin: 0.2rem 0;
}

.menu img {
  height: 50px;
  width: 50px;
}

.menu hr {
  width: 100px;
  height: 2px;
  background-color: gold;
}
.text {
  margin: 0 0.8rem;
}
.text h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: #ffffff;
}

.text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 16px;

  color: #ffffff;
}

.menu .border {
  border: 1px solid #f7f7f7;
  /* width: 123px; */
}

.menu span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: right;
  margin-left: 1rem;
  color: #ffce6d;
}

/* offer-section css */

.offer-section {
  width: 100%;
  height: 50vh;
  /* border: 2px solid red; */
  background: rgba(16, 20, 24, 0.7);
  position: relative;
}

.offer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offer h2 {
  height: 10vh;
  width: 35%;
  position: absolute;
  top: 12%;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;

  text-align: center;
  letter-spacing: 0.1em;

  color: #fffffc;
}

.offer h3 {
  position: absolute;
  top: 45%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.9rem;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffce6d;
}

.book-table {
  position: absolute;
  top: 60%;
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid #fffccc;
  margin-top: 0.8rem;
  cursor: pointer;
}

/* reserve a seat css starts here */

.reserve-the-seat {
  width: 100%;
  height: 80vh;
  margin-top: 3rem;
}

.reserve {
  width: 85%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(16, 20, 24, 0.7);
}

.reserve h3 {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 43.0021px;
  line-height: 117.3%;
  /* or 50px */
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffce6d;
}

.reserve p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32.2516px;
  line-height: 117.3%;
  /* or 38px */
  text-transform: capitalize;

  color: #fffffc;
}

.form {
  margin: -2rem auto;
  width: 95%;
  height: 70%;
  /* border: 2px solid blue; */
  position: relative;
}

input[type="text"],
input[type="number"],
input[type="date"],
#time,
#occupancy {
  border: 1.34px solid #ffce6d;
  background: rgb(0, 0, 0);
  color: #fff;
}

input::placeholder {
  color: #fff;
}

input[type="text"] {
  position: absolute;
  left: 5%;
  width: 53%;
  height: 2.5rem;
  color: #fff;
  padding: 0 1rem;
}

input[type="number"] {
  position: absolute;
  left: 60%;
  width: 30%;
  height: 2.5rem;
  padding: 0 1rem;
}

input[type="date"] {
  position: absolute;
  top: 17%;
  left: 5%;
  width: 25%;
  height: 2.5rem;
  padding: 0 1rem;
}

#time {
  width: 25%;
  height: 2.5rem;
  position: absolute;
  top: 17%;
  left: 33%;
  padding: 0 1rem;
}

#occupancy {
  width: 30%;
  height: 2.5rem;
  position: absolute;
  top: 17%;
  left: 60%;
  padding: 0 1rem;
}

.reserve-btn {
  position: absolute;
  top: 50%;
  left: 42%;

  background: rgb(0, 0, 0);
  color: #fff;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
  border: 1.34px solid #ffce6d;

  cursor: pointer;
}

/* reviews section css starts here */

.reviews-section {
  width: 100%;
  height: 100vh;

  color: white;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 1rem;
}

.review h3 {
  text-align: center;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 117.3%;
  /* or 42px */
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffce6d;
}

.review p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 117.3%;
  /* or 35px */
  text-align: center;
  text-transform: capitalize;

  color: #fffffc;
}

.review-card {
  width: 30%;
  height: 60vh;

  margin: 3rem 0 0 2rem;
  background: rgb(0, 0, 0);
  position: relative;
}

.review-img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 8%;
  left: 3%;
}

.review-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.review-name {
  position: absolute;
  left: 38%;
  top: 15%;
}

.review-name i {
  width: 12px;
  height: 12px;
}

.review-name h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 155.3%;
  /* or 28px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}

.review-text {
  position: absolute;
  top: 45%;
  left: 3%;
}

.review-text p {
  font-family: "Roboto";
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  margin-bottom: 5rem;
  color: #fffffc;
}

/* contact-section css starts here */

.contact-section {
  width: 100%;
  height: 60vh;

  background: rgb(0, 0, 0);
  margin-top: -3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 0;
  width: 88%;
  height: 90%;
}

.contact-container .column {
  flex: 1;
  padding: 0 1.2rem;

  height: 100%;
}

.column h4 {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-left: 3.3rem;
  margin-top: 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #fffccc;
}

.column p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155.3%;
  /* or 25px */
  letter-spacing: 0.13em;
  text-transform: capitalize;
  margin: 1.5rem 0;
  color: #fffffc;
}

.social-icon i {
  height: 27px;
  width: 32px;
  background: #333539;
  color: #fffffc;
  font-size: 1.2rem;
  padding: 0.4em;
}

#other-links {
  margin-left: 4rem;
}

.column ul {
  width: 240px;
  height: 146px;
  margin: 1rem 0 1rem 4rem;
}

.column ul a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 168.8%;
  /* or 27px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}

.column h2 {
  margin-top: 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  text-transform: capitalize;

  color: #fffffc;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
  margin-top: 1.5rem;
}

.social i {
  margin: 0.4rem 0 0 0;
  font-size: 1.2rem;
  color: #a08040;
}

.details-container {
  display: flex;
  align-items: flex-start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-details p {
  margin: 0.8rem 0 0 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 155.3%;
  /* or 25px */
  letter-spacing: 0.13em;
  text-transform: capitalize;

  color: #fffffc;
}

/* footer css starts here */

footer {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background: rgba(16, 20, 24, 0.7);
}

footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  /* or 171% */
  font-feature-settings: "salt" on, "liga" off;

  color: #ffffff;
}

/* mobile navbar css */

.custom {
  background: rgb(0, 0, 0);
  padding: 0;
}

.logo {
  width: 20%;
  margin-left: 1rem;
}

.custom img {
  width: 70px;
}

i {
  color: #ffffcc;
}

.text-clr {
  color: #ffffcc;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0 0.5rem 0;
}

.btn-close {
  color: #ffffcc;
}
