* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.offer-section {
  width: 100%;
  height: 50vh;

  background: rgba(16, 20, 24, 0.7);
  position: relative;
}

.offer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offer h2 {
  height: 10vh;
  width: 35%;
  position: absolute;
  top: 12%;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;

  text-align: center;
  letter-spacing: 0.1em;

  color: #fffffc;
}

.offer h3 {
  position: absolute;
  top: 45%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.9rem;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffce6d;
}

.book-table {
  position: absolute;
  top: 60%;
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid #fffccc;
  margin-top: 0.8rem;
  cursor: pointer;
}
