@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-container {
    width: 44%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-container {
    width: 59%;
    margin: 0 6rem;
  }
  .container-fluid {
    padding-top: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .custom {
    background: rgb(0, 0, 0);
    padding: 0;
  }

  .logo {
    width: 10%;
  }

  .logo img {
    width: 100%;
  }

  i {
    color: #ffffcc;
  }

  .text-clr {
    color: #ffffcc;
  }

  .btn-close {
    color: #ffffcc;
  }
}

@media screen and (max-width: 575px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .custom {
    background: rgb(0, 0, 0);
    padding: 0;
  }

  .logo {
    width: 10%;
  }

  .logo img {
    width: 100%;
  }

  i {
    color: #ffffcc;
  }

  .text-clr {
    color: #ffffcc;
  }

  .btn-close {
    color: #ffffcc;
  }
}

/* @media screen and (max-width: 375px) {
  .hero-container {
    left: 7%;
  }
  .hero-image {
    height: 200px;
    width: 200px;
  }

  .hero-details {
    margin-top: -2rem;
  }

  .hero-details h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .hero-details p {
    line-height: 1.5rem;
  }
} */
