@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-container {
    width: 44%;
    margin-left: 15rem;
  }

  .hero-container {
    left: 32%;
    top: 10%;
  }

  .about-us h3 {
    top: 21%;
  }

  .about-us p {
    top: 36%;
  }

  .about-us a {
    top: 80%;
  }

  /* menu section css */

  .menu-section {
    width: 100%;
  }

  .menu {
    width: 50%;
    justify-content: center;
  }

  .menu hr {
    width: 40px;
  }

  .menu-list {
    justify-content: center;
  }

  /* offer section css */

  .offer h2 {
    font-size: 1.8rem;
  }

  .review-text p {
    line-height: 20px;
  }

  .contact-container{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header,
  nav {
    height: 90vh;
  }
  .container-fluid {
    padding-top: 2rem;
  }

  .navbar-container {
    width: 56%;
    margin: 0px 7rem;
    justify-content: space-between;
  }

  .hero-container {
    left: 30%;
    top: 8%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  main {
    margin-top: -7rem;
  }

  .about-section {
    height: 100vh;
  }

  .about-us h3 {
    font-size: 2rem;
    top: 22%;
  }

  .about-us p {
    width: 90%;
    top: 33%;
  }

  .about-us .read-more {
    top: 78%;
  }

  .aboutus-img {
    top: 4%;
    left: 61%;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
  }

  .card-container {
    flex-direction: column;
    margin-top: 2rem;
  }

  .card-container .card {
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }

  .card h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0px;
  }

  .card p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 122.3%;
    text-align: justify;
    letter-spacing: 0.13rem;
    text-transform: capitalize;
    padding: 0px 1rem 0px 1rem;
    color: #fffffc;
    margin-bottom: 0;
  }

  .card img {
    width: 45px;
    height: 45px;
  }

  .card-details {
    padding-left: 1rem;
  }

  /* menu-section css */

  .menu-section {
    width: 100%;
  }

  .menu-list {
    width: 95%;
    justify-content: center;
  }

  hr {
    display: none;
  }

  .menu {
    width: 50%;
    justify-content: center;
  }

  /* offer section css */

  .offer h2 {
    width: 50%;
    font-size: 1.5rem;
  }

  .offer h3 {
    font-size: 2rem;
    top: 38%;
  }

  .book-table {
    padding: 1.5rem;
  }

  /* review-section */

  .reviews-section {
    height: 157vh;
  }

  .review-card {
    margin: 1rem auto;
    width: 90%;
    height: 35vh;
  }

  .review-name {
    left: 3%;
    top: 28%;
  }

  .review-name h4 {
    font-size: 15px;
    margin-bottom: 0rem;
    margin-top: 3rem;
  }

  .review-name i {
    width: 10px;
  }

  .review-text {
    top: 7%;
    left: 28%;
  }

  .review-text p {
    font-size: 17px;
    line-height: 32px;
  }

  /* contact-section css */

  .contact-container{
    width: 100%;
  }

  .column ul{
    margin: 0;
  }

  .contact-container .column{
    padding: 0 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    left: 25%;
    top: 13%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
    margin-top: 0;
  }

  .about-section {
    height: 100vh;
  }

  .about-us {
    width: 80%;
  }

  .about-us h2 {
    left: 12%;
  }

  .about-us h3 {
    top: 23%;
    left: 12%;
  }

  .about-us p {
    width: 100%;
    top: 40%;
    left: 12%;
  }

  .about-us a {
    top: 70%;
    left: 12%;
  }

  .aboutus-img {
    display: none;
  }

  .card-container {
    flex-direction: column;
    margin-top: 2rem;
  }

  .card-container .card {
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .card h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0px;
  }

  .card p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 122.3%;
    text-align: justify;
    letter-spacing: 0.13rem;
    text-transform: capitalize;
    padding: 0px 1rem 0px 1rem;
    color: #fffffc;
    margin-bottom: 0;
  }

  .card img {
    width: 45px;
    height: 45px;
  }

  .card-details {
    padding-left: 1rem;
  }

  /* menu section css */

  .menu-section {
    width: 100%;
  }

  .menu {
    width: 100%;
    justify-content: center;
  }

  .menu-list {
    flex-wrap: nowrap;
  }

  /* offer section css */

  .offer-section {
    margin-top: 20rem;
  }

  .offer h2 {
    width: 60%;
    font-size: 1.5rem;
  }

  .offer h3 {
    font-size: 2rem;
    top: 38%;
  }

  .book-table {
    padding: 1.5rem;
  }

  /* reserve-seat css */

  .reserve-btn {
    top: 43%;
    left: 28%;
  }

  /* review-section */

  .reviews-section {
    height: 157vh;
  }

  .review-card {
    margin: 1rem auto;
    width: 90%;
    height: 35vh;
  }

  .review-name {
    left: 3%;
    top: 28%;
  }

  .review-name h4 {
    font-size: 15px;
    margin-bottom: 0rem;
    margin-top: 3rem;
  }

  .review-name i {
    width: 10px;
  }

  .review-text {
    top: 7%;
    left: 28%;
  }

  .review-text p {
    margin-top: 1rem;
    line-height: 28px;
  }

  /* contact-section css */

  .contact-section {
    height: 100vh;
  }

  .contact-container {
    height: 100vh;
    flex-direction: column;
  }

  .Contact-us {
    display: block;
  }

  .contact-container {
    width: 100%;
  }

  .contact-container .column {
    height: 45%;
    width: 100%;
  }

  .column h4 {
    margin-left: 0;
    font-size: 21px;
    margin-left: 5rem;
  }

  .logo {
    /* border: 2px solid yellowgreen; */
    margin-left: 0;
    margin-top: 1rem;
  }

  #para {
    margin: 1.5rem 0 0 0;
  }

  .social-icon {
    margin-left: 0;
    margin-top: 1rem;
  }

  #other-links {
    margin-left: 0;
    text-align: center;
  }

  .column ul {
    margin: 0;
    margin-top: 2rem;
    margin-left: -1rem;
  }

  .column ul a {
    font-size: 16px;
  }

  .column h2 {
    text-align: center;
  }

  .contact-details {
    margin-top: 0rem;
  }

  .social {
    margin-top: 0.5rem;
  }

  .social i {
    margin: 0;
  }
}

@media (min-width: 426px) and (max-width: 575px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    left: 20%;
    top: 13%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  .read-more {
    margin-top: 0;
  }

  .about-section {
    height: 100vh;
  }

  .about-us {
    width: 80%;
    padding: 1rem;
  }

  .about-us h2 {
    top: 10%;
    left: 14%;
  }

  .about-us h3 {
    top: 18%;
    left: 14%;
  }

  .aboutus-img {
    display: none;
  }

  .about-us p {
    width: 100%;
    top: 30%;
    left: 14%;
    text-align: justify;
  }

  .about-us h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .about-us a {
    top: 72%;
    left: 14%;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
  }

  .card-container {
    flex-direction: column;
    margin-top: 2rem;
  }

  .card-container .card {
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .card h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0px;
  }

  .card p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 122.3%;
    text-align: justify;
    letter-spacing: 0.13rem;
    text-transform: capitalize;
    padding: 0px 1rem 0px 1rem;
    color: #fffffc;
    margin-bottom: 0;
  }

  .card img {
    width: 45px;
    height: 45px;
  }

  .card-details {
    padding-left: 1rem;
  }

  /* menu section css */

  .menu-section {
    margin-top: 3rem;
  }

  hr {
    display: none;
  }

  .menu-list {
    margin: 1rem auto 0;
    flex-wrap: nowrap;
  }

  .menu {
    width: 100%;
    justify-content: center;
  }

  .text h4 {
    font-size: 0.8rem;
    line-height: 10px;
  }

  /* offer section css */

  .offer-section {
    margin-top: 10rem;
  }

  .offer h2 {
    width: 60%;
    font-size: 1.5rem;
  }

  .offer h3 {
    font-size: 1.4rem;
  }

  .book-table {
    padding: 1rem;
  }

  /* reserve the seat */

  input[type="text"] {
    width: 90%;
  }

  input[type="number"] {
    top: 16%;
    left: 5%;
    width: 90%;
  }

  input[type="date"] {
    top: 32%;
    width: 45%;
  }

  #time {
    top: 32%;
    left: 53%;
    width: 42%;
  }

  #occupancy {
    top: 46%;
    left: 5%;
    width: 90%;
  }

  .reserve-btn {
    padding: 1rem 2rem;
    top: 65%;
    left: 30%;
  }

  /* review-section */

  .reviews-section {
    height: 157vh;
  }

  .review-card {
    margin: 1rem auto;
    width: 90%;
    height: 35vh;
  }

  .review-name {
    left: 3%;
    top: 28%;
  }

  .review-name h4 {
    font-size: 15px;
    margin-bottom: 0rem;
    margin-top: 1rem;
  }

  .review-name i {
    width: 10px;
  }

  .review-img {
    width: 50px;
    height: 50px;
  }

  .review-text {
    top: 7%;
    left: 28%;
  }

  .review-text p {
    line-height: 22px;
  }

  /* contact-section css */

  .contact-section {
    height: 100vh;
  }

  .contact-container {
    height: 100vh;
    flex-direction: column;
  }

  .Contact-us {
    display: block;
  }

  .contact-container {
    width: 100%;
  }

  .contact-container .column {
    height: 45%;
    width: 100%;
  }

  .column h4 {
    margin-left: 0;
    font-size: 21px;
    margin-left: 5rem;
  }

  .logo {
    /* border: 2px solid yellowgreen; */
    margin-left: 0;
    margin-top: 1rem;
  }

  #para {
    margin: 1.5rem 0 0 0;
  }

  .social-icon {
    margin-left: 0;
    margin-top: 1rem;
  }

  #other-links {
    margin-left: 0;
    text-align: center;
  }

  .column ul {
    margin: 0;
    margin-top: 2rem;
    margin-left: -1rem;
  }

  .column ul a {
    font-size: 16px;
  }

  .column h2 {
    text-align: center;
  }

  .contact-details {
    margin-top: 0rem;
  }

  .social {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    top: 10%;
    left: 18%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .hero-details p {
    font-size: 10px;
    font-weight: 700;
  }

  .hero-details .read-more {
    margin-top: 0;
  }

  /* about-us css */

  .about-us {
    width: 90%;
  }

  .aboutus-img {
    display: none;
  }

  .about-us h2 {
    top: 10%;
    left: 10%;
  }

  .about-us h3 {
    top: 17%;
    left: 10%;
    font-size: 2rem;
  }

  .about-us p {
    width: 100%;
    left: 7%;
    top: 30%;
    text-align: justify;
  }

  .about-us a {
    left: 10%;
    top: 80%;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
  }

  /* services css */

  .card-container {
    flex-direction: column;
    margin-top: 2rem;
  }

  .card-container .card {
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  .card h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0px;
  }

  .card p {
    font-size: 0.8rem;
    line-height: 122.3%;
    text-align: justify;
    letter-spacing: 0.13rem;
    text-transform: capitalize;
    padding: 0px 1rem 0px 1rem;

    margin-bottom: 0;
  }

  .card img {
    width: 45px;
    height: 45px;
  }

  .card-details {
    padding-left: 1rem;
  }

  /* menu section css */

  .menu-section {
    width: 100%;
    margin-top: 3rem;
    height: 110vh;
  }

  hr {
    display: none;
  }

  .menu-list {
    width: 100%;
    margin: 1rem auto 0;
    flex-wrap: nowrap;
  }

  .menu {
    width: 100%;
    justify-content: center;
  }

  .text h4 {
    font-size: 0.8rem;
    line-height: 10px;
  }

  /* offer-section css */

  .offer-section {
    margin-top: 6rem;
  }

  .offer h2 {
    width: 60%;
    font-size: 1.5rem;
  }

  .offer h3 {
    font-size: 1.4rem;
  }

  .book-table {
    padding: 1rem;
  }

  /* reserve the seat */

  input[type="text"] {
    width: 90%;
  }

  input[type="number"] {
    top: 16%;
    left: 5%;
    width: 90%;
  }

  input[type="date"] {
    top: 32%;
    width: 47%;
    padding: 0 0.8rem;
  }

  #time {
    top: 32%;
    left: 53%;
    width: 42%;
  }

  #occupancy {
    top: 46%;
    left: 5%;
    width: 90%;
  }

  .reserve-btn {
    padding: 1rem 2rem;
    top: 65%;
    left: 24%;
  }

  /* review-section */

  .reviews-section {
    height: 150vh;
  }

  .review-card {
    margin: 1rem auto;
    width: 90%;
    height: 35vh;
  }

  .review-name {
    left: 3%;
    top: 28%;
  }

  .review-name h4 {
    font-size: 15px;
    margin-bottom: 0rem;
    margin-top: 1rem;
  }

  .review-name i {
    width: 10px;
  }

  .review-img {
    width: 50px;
    height: 50px;
  }

  .review-text {
    top: 7%;
    left: 28%;
  }

  .review-text p {
    font-size: 12px;
  }

  /* contact-section css */

  .contact-section {
    height: 100vh;
  }

  .contact-container {
    height: 100vh;
    flex-direction: column;
  }

  .Contact-us {
    display: block;
  }

  .contact-container {
    width: 100%;
  }

  .contact-container .column {
    height: 45%;
    width: 100%;
  }

  .column h4 {
    margin-left: 0;
    font-size: 21px;
    margin-left: 5rem;
  }

  .logo {
    /* border: 2px solid yellowgreen; */
    margin-left: 0;
    margin-top: 1rem;
  }

  #para {
    margin: 1.5rem 0 0 0;
  }

  .social-icon {
    margin-left: 0;
    margin-top: 1rem;
  }

  #other-links {
    margin-left: 0;
    text-align: center;
  }

  .column ul {
    margin: 0;
    margin-top: 2rem;
    margin-left: -1rem;
  }

  .column ul a {
    font-size: 16px;
  }

  .column h2 {
    text-align: center;
  }

  .contact-details {
    margin-top: 0rem;
  }

  .social {
    margin-top: 0.5rem;
  }


  /* footer css */

  footer{
    margin-top: 2rem;;
  }
}
