@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-container {
    width: 44%;
    margin-left: 15rem;
  }

  .hero-container {
    left: 32%;
    top: 10%;
  }

  .about-us h3{
    top: 20%;
  }

  .about-us p{
    top: 36%;
  }

  .about-us a{
    top: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  header,nav{
    height: 90vh;
  }
  .container-fluid {
    padding-top: 2rem;
  }

  .navbar-container {
    width: 56%;
    margin: 0px 7rem;
    justify-content: space-between;
  }

  .hero-container {
    left: 30%;
    top: 8%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  main{
    margin-top: -7rem;
  }

  .about-section {
    height: 100vh;
    padding-top: 8rem;
  }



  .about-us p {
    width: 90%;
    top: 30%;
  }

  .about-us h3 {
    font-size: 2rem;
    top: 20%;
  }
  .aboutus-img {
    top: 35%;
    left: 61%;
  }
  
  .about-us .read-more{
    top: 61%;
  }
  .read-more {
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    left: 25%;
    top: 13%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
    margin-top: 0;
  }

  .about-section {
    height: 100vh;
  }

  .about-us {
    width: 80%;
  }

  .about-us p {
    width: 100%;
  }

  .aboutus-img {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 575px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    left: 20%;
    top: 13%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  .read-more {
    margin-top: 0;
  }

  .about-section {
    height: 100vh;
  }

  .about-us {
    width: 80%;
    padding: 1rem;
  }

  .about-us h2 {
    top: 10%;
    left: 14%;
  }

  .about-us h3 {
    top: 18%;
    left: 14%;
  }

  .aboutus-img {
    display: none;
  }

  .about-us p {
    width: 100%;
    top: 30%;
    left: 14%;
    text-align: justify;
  }

  .about-us h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .about-us a {
    top: 65%;
    left: 14%;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .container-fluid {
    padding: 0;
  }
  .navbar-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-container {
    top: 10%;
    left: 18%;
  }

  .hero-image {
    width: 250px;
  }

  .hero-details h2 {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .hero-details p {
    font-size: 10px;
    font-weight: 700;
  }

  .hero-details .read-more {
    margin-top: 0;
  }

  .about-us {
    width: 90%;
  }

  .aboutus-img {
    display: none;
  }

  .about-us h2 {
    top: 10%;
    left: 10%;
  }

  .about-us h3 {
    top: 17%;
    left: 10%;
    font-size: 2rem;
  }

  .about-us p {
    width: 100%;
    left: 7%;
    top: 30%;
    text-align: justify;
  }

  .about-us a {
    left: 10%;
    top: 80%;
  }

  .read-more {
    padding: 0.5rem 1.5rem;
  }
}
